<!-- <html>

<body>
    <h1>INPUTS</h1>

    <form action="/predict" method="post">
        <input placeholder="Enter Sepal Length" type="number" name="sepalLength" id="sepalLength" step="0.1">
        <input placeholder="Enter Sepal Width" type="number" name="sepalWidth" id="sepalWidth" step="0.1">
        <input placeholder="Enter Petal Length" type="number" name="petalLength" id=petalLength" step="0.1">
        <input placeholder="Enter Petal Width" type="number" name="petalWidth" id="petalWidth" step="0.1">

        <input type="submit" value="Submit Form">
    </form>
    {% if results or results == 0 %}
    <h2>Results =====> {{ results }}</h2>
    {% endif %}
</body>

</html> -->

<html>
    <body>
        <form action="/predict" method="POST">
            <input placeholder="Enter value for sepalLength" type="number" step="0.1" name="sepalLength" id="sepalLength"/>
            <input placeholder="Enter value for sepalWidth" type="number" step="0.1" name="sepalWidth" id="sepalWidth"/>
            <input placeholder="Enter value for petalLength" type="number" step="0.1" name="petalLength" id="petalLength"/>
            <input placeholder="Enter value for petalWidth" type="number" step="0.1" name="petalWidth" id="petalWidth"/>

            <input type="submit" value="Submit Form"/>
        </form>

        {% if results or results == 0 %}
            <h2>Results ======> {{results}}</h2>
        {% endif %}

    </body>
</html>